{{> navbar}}
<h1>Detalles de la Compra</h1>
<div class="details-container">
    <h2>Código del Ticket: {{ticket.code}}</h2>
    <p>Precio de la compra: {{ticket.amount}}</p>
    <p>Fecha: {{ticket.purchase_datetime}}</p>
    <a class="btn" href="/products">Seguir comprando</a>
</div>