<form class="container-general" id="formProduct">
    <h2 class="titulo">Real Time Products</h2>
    <div class="container-formularios">
        <div class="container-form">
            <h2 class="titulo-formularios">Agregar Producto:</h2>
            <div class="container-leftright">
                <div class="container-form-left">
                        <label for="title" class="form-label">Nombre del Producto</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-box"></i></div>
                            <input class="form-control" type="text" name="title" id="title" placeholder="Inserte nombre del producto" required>
                        </div>
                        <label for="description" class="form-label">Descripción</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-text"></i></span>
                            <input class="form-control" type="text" name="description" id="description" placeholder="Inserte descripción" required>
                        </div>
                        <label for="stock" class="form-label">Stock</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-box"></i></span>
                            <input class="form-control" type="number" name="stock" id="stock" placeholder="Inserte stock" required>
                        </div>
                        <label for="thumbnail" class="form-label">Imagen (URL)</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-image"></i></span>
                            <input class="form-control" type="text" name="thumbnail" id="thumbnail" placeholder="Inserte URL">
                        </div>
                </div>
                <div class="container-form-right">
                        <label for="category" class="form-label">Categoría</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-grid"></i></span>
                            <input class="form-control" type="text" name="category" id="category" placeholder="Inserte categoría" required>
                        </div>
                        <label for="price" class="form-label">Precio</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                            <input class="form-control" type="number" name="price" id="price" placeholder="Inserte precio" required>
                        </div>
                        <label for="code" class="form-label">Código</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-tag"></i></span>
                            <input class="form-control" type="text" name="code" id="code" placeholder="Inserte código numerico" required>
                        </div>
                        <div class="form-check mt-4">
                            <input name="status" class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" checked>
                            <label for="flexCheckChecked">Estado</label>
                        </div>
                </div>
            </div>
            <div class="container-registrar-btn">
                <button class="registrar-btn" type="submit" id="add-btn">Registrar </button>
            </div>
        </div>
        <div class="container-eliminar">
            <h2 class="titulo-formularios">Eliminar Producto:</h2>
            <label for="id-prod" class="form-label">ID del Producto</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-trash"></i></span>
                <input class="form-control" type="number" name="id-prod" id="id-prod" placeholder="Inserte ID del producto">
            </div>
            <div class="container-eliminar-btn">
                <button class="eliminar-formulario-btn" type="button" id="delete-btn">Eliminar</button>
            </div>
        </div>
    </div>
</form>
<div class="container-lista" id="list-products"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>