<div class="container-login">
  {{#if error}}
  <p>{{error}}</p>
  {{/if}}
  <form class="form-login" action="/api/sessions/change?token={{token}}" method="post">
    <div id="mensaje"></div>
    <input type="password" name="password" placeholder="New Password" id="password" />
    <input class="submit" type="submit" value="Change password" id="submit" />
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>