<div class="container-login">
  <form class="form-login" id="roleForm" data-uid="{{uid}}" action="api/users/premium/{{uid}}" method="post">
    <h1>{{rol}}</h1>
    <h1>{{uid}}</h1>
    <input class="submit" type="submit" value="Cambiar rol" id="submit" />
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>