body {
  background-color: #e0e0e2;
}

.container-general {
  display: flex;
  flex-direction: column;
}

.container-formularios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

i {
  color: #7389ae;
}

.container-formularios {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.container-form {
  background: linear-gradient(135deg, #416788, #7389ae);
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
}

.container-eliminar {
  background: linear-gradient(135deg, #416788, #7389ae);
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
}

.titulo {
  font-family: "Kanit", sans-serif;
  text-align: center;
}

.container-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: 20px;
  transition: transform 0.3s;
  background: linear-gradient(135deg, #416788, #7389ae);
  color: #fff;
}

.card-title {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.titulo-formularios {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.card-header-code {
  text-align: center;
  background-color: #81d2c7;
  padding: 0.3rem;
  border-radius: 20px 20px 0px 0px;
  color: #181818;
}

.card:hover {
  transform: scale(1.05);
}

.container-eliminar-btn,
.container-registrar-btn {
  display: flex;
  justify-content: center;
}

.eliminar-btn {
  background-color: #81d2c7;
  border: none;
  border-radius: 20px;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: ease-in 0.3s;
  font-size: 1.5rem;
}

.eliminar-formulario-btn {
  background-color: #81d2c7;
  border: none;
  border-radius: 20px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.eliminar-formulario-btn:hover {
  background-color: #abebe2;
}

.registrar-btn {
  background-color: #81d2c7;
  border: none;
  border-radius: 20px;
  padding: 0.3rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.registrar-btn:hover {
  background-color: #abebe2;
}

.eliminar-btn:hover {
  background-color: #abebe2;
}

.container-leftright {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-text {
  background-color: #81d2c7;
  padding: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 10px 0px 0px 10px;
}

.form-control {
  height: 1.5rem;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-img {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.card-img {
  max-width: 100px;
}

.paginacion {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  background-color: #416788;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 3rem;
  color: white;
}

.paginacion a {
  color: white;
}

.paginacion-categorias {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  background-color: #416788;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  gap: 3rem;
  color: white;
}

.paginacion-categorias a {
  color: white;
}

.card-cart {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 30rem;
  max-width: 30rem;
  border-radius: 20px;
  transition: transform 0.3s;
  background: linear-gradient(135deg, #416788, #7389ae);
  color: #fff;
}

.card-header-code-cart {
  text-align: center;
  background-color: #81d2c7;
  padding: 0.3rem;
  border-radius: 20px 20px 0px 0px;
  color: #181818;
}

.card-cart:hover {
  transform: scale(1.05);
}

.cart-precio {
  display: flex;
  justify-content: space-around;
}

.cart-product {
  display: flex;
  justify-content: space-around;
}

.cart-category {
  text-align: center;
}

.card-img-cart {
  max-width: 100px;
}

.card-img-container {
  display: flex;
  justify-content: center;
}

.cart-total {
  text-align: center;
}

.icon {
  color: black;
  font-size: 1.5rem;
}

.card-product {
  text-decoration: none;
  color: white;
}
